
.s-wrapper {
    position: relative;
    font-size: 0px;
}

.col, .row, .cell, .colcell {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.root {
    position: relative;
    z-index: 1;
}

.col-root {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.col {
    display: inline-block;
}

.row {
}

.cell {
    display: inline-block;
    border: 1px dotted black;
}
.colcell {
    border: 1px dashed blue;
}

.cell, .colcell {
    width: 200px;
    height: 80px;
    font-size: 14px;
    font-size: 1rem;
    margin: 0 4px 4px 0;
}
